/*
  Aquarius - Formatage pour impression PDF
  CBE - V0.0.1 - 29.07.2022 - Création
  CBE - V0.0.2 - 11.08.2022 - paramétrage page A4 pour formulaires d'inscription
  CBE - V0.0.3 - 24.06.2026 - modification pour adaptation à l'autorisation parentale du festival de l'eau 2023
*/

body, input, textarea, select, a {
  color: #000;
  background: none;
  width: 19cm;
}

body {
  font-family: "DejaVu Sans", sans-serif;
  font-size: 10pt;
}

div {
    background: white;
  }

  .header_logo {
  text-align: center;
  width: 200px!important;
  display:block;
  margin: 20px auto;
}

img.webform-signature-image {
  text-align: center;
  width: 250px;
  display: block;
  margin: 20px auto;
  border: solid black;
}

summary {
    color: #00B2FF;
}

label {
  font-weight: normal;
  display: inline;
}

details {
  border: none;
  border-bottom: 1px solid black;
}

.webform-element {
  font-weight: normal;
}

p, ul, .form-item, .views-element-container{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.details-wrapper label {
  display: inline;
}

.view-saison-adhesion {
  display: none;
}

#inscription_a_l_aquarius--captcha {
  display: none;
}
