/*
  Aquarius - Région header (En-tête du site (logo, menus))
  CBE - V1.0 - 09.12.2018
  PiB - V1.1.0 - 21.11.2019
  CBE - V1.1.1 - 02.12.2019
  CBE - V1.1.2 - 24.08.2024
  CBE - V1.1.3 - 02.09.2024
  CBE - V1.2.0 - 04.09.2024 - cleaning useless tags. Add .region-breadcrumb for bloc-tag placement
*/

/* ------------------ .region-header ------------------ */
/* Attention la balise <header> est aussi utilisée pour les articles / nodes */

.region-header {
  padding: 0.3em 0.5em 0.5em 0.5em;
  position: relative;
  top: 0;
  left: 0;
  right: 0; /* Pour que la zone couvre toute la largeur de la page */
  overflow: visible; /* Pour que les sous-menus puissent déborder de l'en-tête */ 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  /*height: 82px;*/
  height: var(--aquarius-header-height);
  z-index: 100;
  background-color: #FFFFFE;
  border-bottom-style: solid;
  border-bottom-color: #004FEE;
  border-bottom-width: 4px;
}

/* Affichage par défaut sur écran réduit */
.region-header .block-system-branding-block { /* Partie relative au logo */
  order: 1;
}
.region-header .block-superfishmain { /* Partie relative au menu de navigation */
  width: 10%;
  order: 0;
}
.region-header #block-info-membre-connecte, .region-header .block-views-blockmenu-utilisateur-block-1 { /* Partie relative au menu utilisateur */
  width: 10%;
  order: 3;
}

/* Affichage sur écran large */
@media all and (min-width: 768px) { /* !! Brakpoint commun avec paramètre de Superfish */
  .region-header {
    padding: 0.3em 10% 0.5em 10%;	/* ne dépasse pas de la zone de contenu principale */
    align-items: center;
  }

  .region-header .block-system-branding-block { /* Partie relative au logo */
    width: 20%;
    order: 0;
    text-align: left;
    position: relative;
  }
  .region-header .block-superfishmain { /* Partie relative au menu de navigation */
    width: 100%;
    order: 1;
    flex: 1;
  }
  .region-header #block-info-membre-connecte { /* Partie relative au menu utilisateur */
    width: 10%;
    order: 3;
  }

  /* Ajustement de l'alignement logo -- menu -- user block */
  .region-header .block:not(.site-branding) {
    margin: 1.2em 0 0 0; /* alignement centré du menu avec le logo */
  }

  /* Menu fixe en haut de page (ne bouge pas avec le scroll) */
  .region-header {
    position: fixed; /* Menu fixe en haut de la page */
    top: 0;
  }

  #page > header {  /* Décalage du contenu après le header pour éviter la superposition */
    margin-bottom: 5.7em;
  }
  .toolbar-horizontal .region-header, .toolbar-horizontal #page > header {   /* Si on a la barre d'admin, on place le menu en relatif. */
  position: relative;
  margin-bottom: 0em;
  z-index: 500;
}
}
 
/* Limitation de la taille du logo */
.site-branding img {
 /*max-height: 90px; */
 max-height: 4.7em; 
}

.region-breadcrumb {  /* pour éviter de créer un nouveau fichier, c'est ici... */
  min-height: 2em; /* force la hauteur de la zone pour que le contenu (blocs tag) reste dessous */
  }