<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>
  <header>
    <img class="header_logo" src="/themes/custom/aquarius-theme/images/logo.png" alt="logo">
    <h1>{{ webform_token('[webform_submission:webform:title]', webform_submission) }}</h1>
  </header>
<div class="page">
    {{ content }}
</div>
</body>
</html>
